@charset "UTF-8";
/* CSS Document */

* {
	box-sizing:border-box;
}

body,
html {
	height: 100%;
  	scroll-behavior: smooth;
}
body {
	margin:0;
	font-family:Lato, Roboto, Helvetica, Arial, sans-serif;
	font-size:100%;
	width: 100%;
}

a:link{
  text-decoration: none!important;
  color: inherit;
}
a:hover {
	text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:focus {
	outline: none;
}
/*a:active {
    text-decoration: underline;
}*/

h1,
h2,
h3,
h4 {
	font-family:'Playfair Display', serif;
	color: var(--color-darkgre);
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}
h1 {
	font-size:3.5em;
	line-height: 46px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

h2 {
	font-size:2.75em;
	line-height: 39px;
	margin: 0;
}

h3 {
	font-size:1.75em;
	line-height: 22px;
}

h4 {
	font-size: 1.25em;
}

ul.a,
h5,
h6 {
	font-family:'Lato', sans-serif;
	font-weight: 300;
	color: var(--color-midgrey);
	margin: 0;
	line-height: 23px;
}

h5 {
	font-size: 1.05em;
}
h6 {
	font-size: 1em;
}

dt {
	margin: 0 15px 0 0; 
}
dd {
	margin: 0; 
}
.numbers{
	font-family: 'Nanum Myeongjo', serif;
	padding: 10px 0 16px 0;
	margin: 0;
}
.head-numbers {
	font-size:2.75em;
	line-height: 42px;
}
.reg-numbers {
	font-size: 1em;
}

/*.inline-h {
	font-family:'Playfair Display', serif;
	color: var(--font-darkgrey);
	font-weight: 400;
	line-height: 39px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
}*/

.container {
/*	max-width:1116px;
*/	margin-right: auto;
	margin-left: auto;
	padding-left: 300px;
	padding-right: 300px;
}

.media-image {
	max-width:100%;
	vertical-align: middle;
}
.media-figure {
    margin: 0;
    padding: 10px;
    border: 1px solid grey;
}
.media-figure figcaption {
	padding:0.2em 0.5em;
}



/* css flex-box */
.flex-parent {
	display:flex;
	flex-wrap:wrap;
	align-items:flex-end;
}
.flex-child {
	flex:1 1 auto;
}
.flex-none {
	flex:none;
}

.figcaption {
    display: block;
}


.hidden {
	display:none;
}


.toggle {
	font-size:2em;
	display:inline-block;
}
.toggle input+label {
	/*color:black;*/
	display:inline-block;
	width:2em;
	height:1em;
	border:0.1em solid #ccc;
	background-color:white;
	border-radius:1em;
	vertical-align: top;
}
.toggle input+label>span {
	/*color:black;*/
	display:inline-block;
	width:0.8em;
	height:0.8em;
	background-color:#ddd;
	border-radius:1em;
	vertical-align: top;
	transition:all 0.3s;
}
.toggle input:checked+label>span {
	transform:translateX(1em);
}


.fav label {
	color:grey;
}
.fav input:checked+label {
	color:red;
}

.rating {
	color:blue;
}
.rating label:after {
	content:'â˜†';
}
.rating input:nth-of-type(5):checked~label:nth-of-type(1):after,
.rating input:nth-of-type(5):checked~label:nth-of-type(2):after,
.rating input:nth-of-type(5):checked~label:nth-of-type(3):after,
.rating input:nth-of-type(5):checked~label:nth-of-type(4):after,
.rating input:nth-of-type(5):checked~label:nth-of-type(5):after,

.rating input:nth-of-type(4):checked~label:nth-of-type(1):after,
.rating input:nth-of-type(4):checked~label:nth-of-type(2):after,
.rating input:nth-of-type(4):checked~label:nth-of-type(3):after,
.rating input:nth-of-type(4):checked~label:nth-of-type(4):after,

.rating input:nth-of-type(3):checked~label:nth-of-type(1):after,
.rating input:nth-of-type(3):checked~label:nth-of-type(2):after,
.rating input:nth-of-type(3):checked~label:nth-of-type(3):after,

.rating input:nth-of-type(2):checked~label:nth-of-type(1):after,
.rating input:nth-of-type(2):checked~label:nth-of-type(2):after,

.rating input:nth-of-type(1):checked~label:nth-of-type(1):after {
	content:'â˜…';
}


.cart-option label {
	border:1px solid black;
	padding:0.2em 0.5em;
	border-radius:1em;
	display:inline-block;
}
.cart-option input:checked+label :nth-child(1),
.cart-option label :nth-child(2) {
	display:none;
}
.cart-option input:checked+label :nth-child(2) {
	display:initial;
}






.card {
	/*background-color:white;
	border:1px solid #eee;
	border-radius:4px;
	box-shadow:0 2px 2px rgba(0,0,0,0.2);
*/
	padding: 30% 0 0 0;
	/*
	margin-top:1em;
	margin-bottom:1em;
*/
	}
/* clearfix */
.card:after {
	display:table;
	content:'';
	clear:both;
}
/*.card~.card {

	margin-top:1em;
}*/
.card>:first-child {
	margin-top:0;
}
.card>:last-child {
	margin-bottom:0;
}
.view-window {
	height: 50vh;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	position:relative;
}
.view-window>img {
	max-height:calc(100% - 20px);
	max-width:calc(100% - 20px);
} 
.centered-child {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}




.deflist dt {
	font-weight:bold;
	float:left;
	width:10em;
}
.deflist dd {
	float:left;
	margin-left:0;
	width:calc(100% - 10em);
}
.deflist dt:not(:first-of-type),
.deflist dd:not(:first-of-type) {
/*	border-top:1px solid #ddd;*/
	margin-top:0.5em;
	padding-top:0.5em;
}

.cardset {
	display:flex;
	margin-top:1em;
	margin-bottom:1em;
}
.cardset>.card {
	flex:1 1 auto;
	margin:0 0.5em;
	border-radius:0;
	padding:0;
}
.cardset>.card:first-child {
	margin-left:0;
}
.cardset>.card:last-child {
	margin-right:0;
}
.cardset>.card img {
	max-width:100%;
}
.cardset>.card figcaption {
	padding:10px;
}


/*Nav w3schoo*/
.topnav {
	/*background-image: linear-gradient(white, #ffffff00);*/
	overflow: hidden;padding: 1% 2% 0 2%;
	position: fixed;top: 0;
	width: 100%;z-index: 1;
}

.topnav a {
  float: left;
  color: var(--color-lightgrey);
  text-align: center;
  margin: 14px 16px 0 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Playfair Display', serif;
  border-bottom: 1px solid transparent;
  -webkit-transition:0.50s ease;
  transition: 0.50s ease;
}

.topnav-right a:hover {
  colro: var(--dark-color-bluish);
  border-bottom: 1px solid var(--light-color-cream);
  -webkit-transition:0.50s ease;
  transition: 0.50s ease;
}
.topnav-right a {
	/* padding: 0 0 10px 0; */
}

.topnav-right a.active {
  border-bottom: 1px solid var(--color-red);
  color: var(--color-midgrey);
}

.topnav-right a.active-group {
	color: var(--color-darey);
}

.topnav-right {
  float: right;
} /*end Nav w3schoo*/

.table {
	width:100%;
	border-collapse:collapse;
}
.table th,
.table td {
	text-align: left;
	padding:0.2em 0.5em;
	vertical-align: top;
}

.table.striped tbody tr:nth-child(odd) {
	background-color:rgba(0,0,0,0.1);
}

.table.lined tbody tr,
.table.lined-horizontal tbody tr {
	border-top:1px solid black;
}
.table.lined td:not(:first-child),
.table.lined th:not(:first-child),
.table.lined-vertical td:not(:first-child),
.table.lined-vertical th:not(:first-child) {
	border-left:1px solid black;
}
.table.lined,
.table.lined-outline {
	border:1px solid black;
}

.table tr:hover th,
.table tr:hover td {
	background-color:rgba(0,0,255,0.1);
}




/*@media (max-width:1000px) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
}
*/