@charset "UTF-8";
/* CSS Document */
body{
	background-color: #f0f0f8;
}
/*header {
	background-color:red;
	color:#2a3a41;
	padding:1.5em;
	position:fixed;
	width:100%;

	left:0;
	z-index:2;
}
/*
.row.flex {
	align-items: flex-end;
}
*/
.search{
	margin-right: 1.5em;
	margin-top: 1em;
}
/*learned the search input icon from here: https://stackoverflow.com/questions/917610/put-icon-inside-input-element-in-a-form
*/
.search input[type='text'] {
    background-image: url(../img/search.png);
    background-position: 95% 50%;
	background-size: 20px;
	background-repeat: no-repeat;
	padding: 5px 20px 4px 10px;
	width: 20em;
	height: 2.5em;
	border-radius: 30px;
}

/*
header h1,
header p {
	margin:0;
}
*/
.nav-breadcrumb {
    margin-top: 8%;
	color: #939393;
}

body {
	/*padding-top:50px;*/
	position: relative;
}

.body{
	padding-top: 8%;
	width: 80%;
}

.hero-top{
	position: absolute;
	bottom: -40%;
	left: 10%;
}
.hero-top-capt{
	text-align: left;
}

.nav{
	vertical-align: bottom;
}
.right-article{
	margin-bottom: 0;
}



.view-window {
  height:300px;
  background-size:cover;
  background-position:center;
  margin-bottom:300px;
}

/*
.row {
  display:flex;
  align-items:center;
}
.col-6 {
  flex:1 1 auto;
  width:50%;

}
*/

.product-window {
  padding-top:150px;
	padding-left: 8em;
}

.product-window-imageset {
  width:100%;
  height:300px;
  border:1px solid black;
  position:relative;
  overflow:hidden;

/*   background-image:url(http://via.placeholder.com/400); */
/*   background-size:cover; */
/*   background-position:center; */
}
.product-window-imagedescription {
  width:100%;
  height:100%;
  line-height:300px;
  text-align:center;
  background-color:rgba(0,0,0,0.5);
/*   background-color:blue; */
  transition:all 0.3s;

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  opacity:0;
}
.product-window-imageset:hover .product-window-imagedescription {
  opacity:1;
  transform:translate(-50%,-50%) scale(1.2,1.2);
}

.desc-position{
	position: relative;
}

.copy-position{
	position: absolute;

}


button{
	width: 10em;
	height: 3em;
	font-family: 'open-sans' , sans-serif;
	font-weight: 700;
	font-size: 15px;
	border: none;
	background-color: #7451af;
	color: white;
/*	float: right;*/
}

.home-second-img{
	float: right;
	margin-top: 35%;
	margin-right: 10%;
}
.button-left{
	float: left;
}
.home-second-capt{
	text-align: left;
}
/*footer*/
.footer{
	position: relative;
	width: 100%;
	height: 135px;
	background-color: #21212e;
	bottom: 0;
	right: 0;
	left: 0;
	margin-top: 5em;
}
.footer a{
	font-weight: 200;
}

/*
.fa {
 background-color: white;
 border-radius: 50%;
 border: 1px solid grey;
 padding:10px;
}

.fa-instagram,
.fa-facebook,
.fa-pinterest,
.fa-twitter{
	background-color: #cfdce3;
	color: #21212e;
}

*/


/*
.social-icons{
	height: 100%;

}
*/
/*
.center-footer{
	margin-top: 30px;
}
*/


.button-center{
	color: white;
	text-align: center;

}

.footer-butten{
	position: absolute;
	width: 150px;
	height: 55px;
	margin-left: 44%;
	margin-top: 2.5em;
	background-color: #7451af;
}

/*
.logo{
	width: 50px;
	margin-right: 3em;
}
*/

.header .logo {
  display: block;
  float: left;
  margin: 10px 20px;
  text-decoration: none;
}
.header .logo img{
	width: 50px;
}

.h-icons{
	width: 20px;
	vertical-align: bottom;
}

.heading{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 50px;
	margin: 0;
}
.paragraph{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 20px;
	width: 50%;
	margin: 0;
	margin-bottom: 1em;
	margin-top: .5em;
}

/*product page*/

figcaption{
	padding: .5em;
}

/*each product page*/
.box-align{
	bottom: 0;
}
.box-align .card p{
	padding-top: 10em;
}
.card button{
	margin-top: 3em;
}
.card{
	padding-bottom: 0;
	margin-bottom: 0;
	left: 0;
}
.row-space{
	border-top: solid 1px #CBCBCB;
}
.row-space-first,
.row-space{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-left: 1.5em;
}
.border-left{
	border-left: solid 1px #CBCBCB;
}
.each-product-img {
	padding-top: 8em;
}

.products-ad{
	padding-top: 8%;
}

.position{
    position: relative;
/*
	border: 0.5px solid rgba(191,191,191,1.00) ;
	background-color:rgba(255,255,255,0.5);
/*
	width: 15em;
	height: 9em;
*/
}

.best-seller{
	margin-bottom: 13em;
}

.position-bottom{
/*	position: absolute;*/
/*	bottom: 0;*/

}
/*
.product-img{
	position: relative;
}

.overlay{
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(28,31,49,.5);
}
*/
.product-img{
	transition: transform 1s;
}
.product-img:hover{
	transform: scale(0.95);
}

.caption{
	width: 100%;
	border-bottom: solid 1px rgba(143,143,143,1.00);
	padding: 15px;
}


/*
.product-name{
	flex-shrink: 0.5;
}
*/
.price{
	float: right;
}
/*
.each-product{
	margin-bottom: 4em;
}
*/

input,
textarea{
	border: 1px solid rgba(138,138,138,1.00);
	padding: 5px;
}
textarea{
	width: 100%;
	height: 20em;
}
input{
	width: 100%;
	height: 3em;
}

label{
	display: block;
}


.address{
	margin-top: 2em;
}
.h-icons{
	display: inline-flex;
}
.h-icons a {
	padding: .5em;
}

/*I learned how to create landing page full screen from here:
https://www.w3schools.com/howto/howto_css_full_page.asp
*/

body, html {
    height: 100%;
    margin: 0;
		overscroll-behavior: none;
}
.main-img{
	position: relative;
	background-image: url(../img/main.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.overlay-button{
	position: absolute;
	top: 35%;
	left: 35%;
}

.overlay-button button{
	text-align: center;
	border: 2px solid white;
  	display: inline-block;
	width: 30em;
	height: 15em;
	color: white;
	background-color: rgba(0,0,0,0.00);
 	cursor: pointer;
}

.overlay-button button:hover{

}

@media (max-width:900px) {
	h1 {
		font-size:1.25em;
		padding-bottom:1em;
	}
	body {
		padding-top:0;
	}
	header {
		position:static;
	}
	header p {
		display:none;
	}


	.body{
		padding-top: 25%;
		width: 90%;
	}
	.view-window{
		height: 200px;
		margin-bottom: 250px;
		background-attachment: inherit;
	}


	.product-window {
    padding-top: 100px;
    padding-left: 10em;
	}
	.col-md-productbox-front {
    /* margin-left: -8vw; */
    margin-left: 0;
    margin-top: 2vh;
	}


	.best-seller {
    margin-bottom: 5em;
	}
	.footer-butten{
	margin-left: 40%;
    margin-right: 40%;
	}




/*
	header .flex-parent {
		display:block;
	}
	header .flex-child {
		flex:none;
	}
*/
		/*	medium */
/*
	.logo{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5em;
	}


	.nav-pills ul{
		display: block;
		margin-left: 12%;
		padding-bottom: 1.5em;
	}

	.search input[type='text']{
		display: block;
		position: absolute;
		margin-left: 15%;
	}
	.h-icon{

	}
	*/
}

@media (max-width:500px) {

	.hero-top {
		position: absolute;
		bottom: -30%;
		left: 50%;
	}

	.card{
		padding-left: 0;
	}
	/*	mobile nav */
/*
	.logo{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5em;
	}

	.nav-pills ul{
		display: block;
		margin-left: 12%;
		padding-bottom: 1.5em;
	}

	.search input[type='text']{
		display: block;
		position: absolute;
		margin-left: 15%;
	}


	/* mobile landing */
	.body{
		padding-top: 25%;
		width: 90%;
	}
	.view-window{
		height: 200px;
		margin-bottom: 250px;
		background-attachment: inherit;
	}

	.best-seller {
    margin-bottom: 5em;
	}
	.footer-butten{
	margin-left: 30%;
    margin-right: 30%;
	}

	.overlay-button{
		position: absolute;
		top: 30%;
		left: 20%;
	}

	.overlay-button button{
		width: 15em;
		height: 15em;
		color: white;
		background-color: rgba(0,0,0,0.00);
}
	.heading paragraph{
		display: none;
	}
	.paragraph{
		display: none;
	}
	.heading{
		font-size: 35px;
	}
	.border-left {
    border-left: none;
}
	.row-space-first, .row-space {
    padding-left: 0;
}
}
